__pycache__/
.pytest_cache/
.venv/
dist/
build/
*.pyc
*.xlsx
*.mat
*.slx
WMU_batch_raw/
WMU_batch_data/
outputs/
results/raw/
results/intermediate/
analysis_basic_v1/
features_basic_v1/
results_basic_v1/
figures_basic_v1/
*.parquet
*.pkl
*.csv.gz
*.egg-info/
WMU_batch_raw_ibr_background/
WMU_batch_data_ibr_background/
WMU_batch_raw_ibr_sso/
WMU_batch_data_ibr_sso/
release_assets/WMU_project_combined_126_raw_waveforms_for_detection_localization/
release_assets/WMU_project_combined_126_raw_waveforms_for_detection_localization.zip
# LaTeX temporary files
*.aux
*.bbl
*.blg
*.bcf
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex
*.synctex.gz
*.toc
*.xdv
build_ko/
